.question__row
  - answer = question.answer
  - if answer.nil?
    = link_to "/question/#{question.id}", method: :delete do
      %i.fa.fa-trash.question__row__delete
  %p.question__row__date="質問日時: #{question.created_at}"
  - subject = Subject.find(question.subject_id)
  %p.question__row__subject="教科: #{subject.name}"
  %p Q:
  %pre.question__row__question=question.question
  - unless answer.nil?
    %br
    %p.question__row__date="解答日時: #{answer.created_at}"
    - teacher = answer.user
    %p.question__row__teacher="解答者: #{teacher.name}"
    %p A:
    %pre.question__row__answer=answer.answer
