.record__row
  .record__row__time
    = hidden_field_tag :date, record[0]
    - if record[1].length > 1
      - record[1].each do |f|
        - if f[:summary].nil?
          .record__row__time__elem
            = "#{f.start.strftime("%H:%M")}~#{f.end.strftime("%H:%M")} #{f.subject.name} #{f.comment}"
          = hidden_field_tag :id, f.id, class: "record__row__time__id"
  .record__row__summary
    - summary = record[1][-1][:summary]
    - if summary.length > 0
      - summary.each do |f|
        %p.record__row__summary__elem
          = "#{f[1]/3600}"
  .record__row__comment
    - comment = Comment.where(user_id: current_user.id).where(comment_at: record[0]).take
    - if comment.nil?
      = form_for Comment.new, url: comment_index_path, method: :post do |f|
        =f.text_area :comment, class: "record__row__comment__input"
    - else
      = form_for comment, url: comment_path(:id), method: :patch do |f|
        =f.text_area :comment, class: "record__row__comment__input"
