.record__row
  .record__row__time
    = hidden_field_tag :date, record[0]
    - if record[1].length > 0
      - record[1].each do |f|
        .record__row__time__elem
          = "#{f.start.strftime("%H:%M")}~#{f.end.strftime("%H:%M")} #{f.subject.name} #{f.comment}"
  .record__row__summary
  %textarea.record__row__comment
